{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tipper</title>
	<link rel="stylesheet" type="text/css" href='{% static "tipping.css" %}'/>
</head>
<body>

	<form action="results" method="GET">
		<p>Price: <input type="number" step="0.01" name="price"/></p>
		<p>Satisfaction: &#129314; <input type="range" min="10" max="30" name="satisfaction"/> &#128522; </p>
		<p><input type="submit" value="Calculate"/></p>
	</form>


</body>
</html>